@import "tailwindcss";
:root {
    --background: #050505;
    --foreground: #e5e5e5;
    --orange: #f97316;
}

body {
    color: var(--foreground);
    background: var(--background);
    overflow-x: hidden;
    cursor: none;
    /* Hides default cursor */
}


/* Morphing Blob Animation */

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.animate-morph {
    animation: morph 8s ease-in-out infinite;
}


/* Hide scrollbar */

.no-scrollbar::-webkit-scrollbar {
    display: none;
}